
      {% extends 'temp/payment.html' %}
      {% block base %}
        
        <h2 align="center">PAYMENT</h2>
        <form method="post">
            {% csrf_token %}
       <table align="center"> 
            

            <tr>
            <td>CARD NUMBER</td>
            <td><input type="number" name="cno" required=""></td>
            </tr>
            
           <tr>
                <td>CARD HOLDER NAME</td>
                <td><input type="TEXT" name="hname" required=""></td>
                </tr>

            <tr> 
                <td>CVV</td>
                <td><input type="number" name="cvv" required=""></td>
                </tr>
           
             <tr>
                <td>AMOUNT</td>
                <td><input type="number" name="amount" value={{ k }}></td>
            </tr>
            
            <tr>
             <td>DATE</tD>
                <td><input type="date" name="date" required=""></td>
            </tr>

            <tr>
                <td></td>

                <td><input type="submit" name="btn" value="PAY"></td>
            </tr>

        </table>
        {% if msg != "" %}
      <script>
        alert("Payment successfull")
      </script>
      {% endif %}
        </form>
        


        
        {%endblock%}


