
      {% extends 'temp/payment.html' %}
      {% block base %}
        <h1><center>VIEw PERSONAL TRAINER DETAILS<center></h1>
        <table align="center" border="1">
            <div class="tab-content">
                <div id="class-all" class="container tab-pane p-0 active">
                    <div class="table-responsive">
                        <table class="table table-bordered table-lg m-0">
                            <thead class="bg-secondary text-white text-center">
            <tr>
                <td>trainer name</td>
                <td>email id</td>
                <td>phone</td>
                <td>dob</td>
                <td>gender</td>
                <td>experience</td>
                
            </tr>
            {% for i in ok %}
            <tr>
                <td style="background-color:white"><font color="black">{{i.trainer_name}}</font></td>
                <td style="background-color:white"><font color="black">{{i.email_id}}</font></td>
                <td style="background-color:white"><font color="black">{{i.phone}}</font></td>
                <td style="background-color:white"><font color="black">{{i.dob}}</font></td>
                <td style="background-color:white"><font color="black">{{i.gender}}</font></td>
                <td style="background-color:white"><font color="black">{{i.experience}}</font></td>
               
            </tr>
            {% endfor %}
        </table>
    </dv>
        {%endblock%}